
#content-wrap{
  padding-bottom: 200px;
}

#root{
  margin: 0 !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header_container{
  background-size: 100% 200%;
  background: center;
}
.header_content{
  max-height: 100px;
  min-height: 80px;
}

.header_logo {
  width: 100%;
  height: 95%;
  min-height: 40px;
  min-width: 240px;
  padding: 10px 0px 10px 10px;
}

.header_logo_small{
  display: none;
}

.search-bar-large{

}

/*.search-bar-small{*/
/*display: none;*/
/*}*/

.cart-icon-small{
  display: none;
}

@media only screen and (min-width: 770px){
  .nav-link{
    text-align: center;
    display: block;
  }

  .header_logo_small{
    display: block;
    max-height: 60px;
  }

  .nav-item{
    min-width: 80px;
  }
  .header_logo{
    display: none;
  }
  .search-bar-large{
    display: none ;
  }

  .search-bar-small{
    display: inline-block;
  }

  .fa-search{
    font-size: 15px !important;
  }

  .search {
    transform: translateX(-50%) translateY(-50%);
  }
  .search * {
    outline: none;
    box-sizing: border-box;
  }
  .search__wrapper {
    position: relative;
  }
  .search__field {
    top:50%;
    left: 0;
    width: 35px;
    height: 35px;
    color: transparent;
    font-family: Lato, sans-serif;
    font-size: 1em;
    padding: 0.35em 50px 0.35em 0;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;

  }
  .search__field:focus {
    border-bottom-color: #ccc;
    width: 20vw;
    color: #2b2b2b;
    cursor: default;
  }
  .search__field:focus ~ .search__icon {
    background-color: transparent;
    cursor: pointer;
    pointer-events: auto;
  }
  .search__icon {
    position: absolute;
    top: 50%;
    right: 0;
    background-color: #e9f1f4;
    width: 35px;
    height: 35px;
    font-size: 1.35em;
    text-align: center;
    border-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    display: inline-block;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
  }
  .search__field::-webkit-input-placeholder {
    position: relative;
    /*top: 50%;*/
    left: 0;
    color: lightgrey!important;
    /*top: -5px;*/
    -webkit-transition-property: top, color;
    transition-property: top, color;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .search__field::-webkit-input-placeholder[style*=hidden] {
    color: lightgrey!important;
    font-size: .65em;
    font-weight: lighter;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
  }

}

.pad-top {
  padding-top: 25px;
}

.logo{
  max-width: 300px;
  padding-right: 0;
}

.footer_background {
  background-repeat: no-repeat;
  background-size:cover;
  background-color: #E7E9F5;
}

.footer-logo {
  text-decoration: none;
  color: #FFFFFF;
}

.padding-header {
  padding-top: 100px;
}

.random_fact_div{
  width: 100%;
}

.random_fact_title{
  text-align: center;
}

.newsletter{
  padding: 0;
  width: 100%;
}

.newsletter_title{
  padding-top: 2%;
}

.newsletter_container{
  width: 100%;
}

.random_fact_card{
  text-align: center;
  padding: 2% 10% 2% 10%;
}

.quote-card {
  background: #fff;
  color: #222222;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(34, 34, 34, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
  margin-bottom: 0 !important;

}

.quote-card p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.quote-card:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  top: 10px;
  left: 10px;
  padding-left: 40px;
  font-size: 5em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
.quote-card:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  bottom: -110px;
  line-height: 100px;
  right: 1px;
  padding-bottom: 40px;
  padding-right: 40px;
  font-size: 25em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
@media (max-width: 640px) {
  .quote-card:after {
    font-size: 22em;
    right: -25px;
  }
}
.button-new-quote{
  padding-top: 30px;
}


.wrapper {
  text-align: center;
}

.nav-box-padding {
  padding-left: 5px;
  padding-right: 5px;
}

.centered {
  text-align: center;
}


/*********************************************************/
/*Popular Items on HomePage*/


.product-img-home{
  max-width: 400px !important;
  max-height: 400px !important;
  min-width: 100px !important;
}

.col-lg-4-home{
  flex: 0 0 25%;
  align-self: center;
  position: relative;
  min-height: 380px;
}

@media only screen and (max-width: 520px)
{
  .col-lg-4-home{
    flex: 0 0 33.3333333%;
  }
}

@media only screen and (max-width: 390px)
{
  .col-lg-4-home{
    flex: 0 0 50%;
  }
}

@media only screen and (max-width: 260px)
{
  .col-lg-4-home{
    flex: 0 0 100%;
  }
}

.whole-product-wrapper{
  position: center;
  padding: 10px;
  width: 100%;
  vertical-align: center !important;
}

.products2{
  width: 100%;
  background: #FFFFFF;
  z-index: 2;
  /*padding-top: 20px;*/
}

/*********************************************************/

.login-email-field {
  position: absolute;
}

.login-password-field{
  margin-top: 10px !important;
}

/*************  Google Button Design  ********************/
.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}
.google-button:focus, .google-button:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.google-button:active {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}

/*Profile CSS that must stay in App.css*/
hr{
  margin-top: 0;
  margin-bottom: 0;
}

.bg-img{
  margin:0;
}

.card-body{
  background-image: url('./images/profile_images/background.png');
  background-size: cover;
}

.card-body-profile{
  min-height: 528px;
  padding: 60px 20px 20px 20px;
}

#notfound{
  background-image: url('./images/404Bear.jpg') !important;
  background-size: cover;
  /*background-repeat: no-repeat;*/
  /*height: 100vh;*/
  margin: 0 !important;
  background-size: 100% 100%;
}
#comingsoon{
  background-image: url('./images/comingsoonbear.png') !important;
  background-size: cover;
  /*background-repeat: no-repeat;*/
  /*height: 100vh;*/
  margin: 0 !important;
  background-size: 100% 100%;
}

@media only screen and (max-width: 620px) {
  #notfound{
    background-image: url('./images/404Bear.jpg') !important;
    background-size: contain;
    background-repeat: no-repeat;
    /*height: 100vh;*/
    margin: 0 !important;
    text-align: center;
    background-size: 170% 100%;
  }
}


.page-wrapper{
  background-color: #FAFCFD;
}

.profile-usermenu {
  width: 100%;
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

.col-lg-4-popular{
  min-height: 380px !important;
}

.hr-popular-item-home{
  /*margin-top: 10px;*/
  margin-bottom: 20px;
}
.beary-popular-title{
  margin-left: 20px;
  font-weight: lighter;
}
.container-fluid{
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
}

.btn-no-decoration {
  text-decoration: none;
  color: inherit;
  text-decoration-color: white;
}


/****************************ADMIN****************************/
.left-sidebar{
  margin-top: 89px !important;
  padding: 0 !important;
  background-color: black !important;
}
.scroll-sidebar, #sidebarnav{
  background-color: #071944 !important;
}
#main-wrapper{
  margin: 0px !important;
}
.rounded-circle{
  margin: 0 auto !important;
}
.admin-profile-li{
  top: 25% !important;
  margin: 0 auto !important;
}
.admin-container-fluid{
  padding: 20px !important;
}
.breadcrumb_admin:after{
  z-index: 5!important;
  background-color: rgba(255, 255, 255, 0.1);
}
.sidebar-item-icon svg{
  color: blue;
  fill: blue !important;
}
.material-icons.md-light { color: rgba(255, 255, 255, 1); }

svg:not(:root){
  fill: white !important;
}
.sidebar-heading{
  padding-left: 15px;
  font-size: 13px;
  color: white;
}
.page-wrapper-admin{
  background-color: #ECFAFE;
}
.dropzone{
  margin: 20px 0 20px 0 !important;
}
/*.add-item-padding{*/
  /*margin-top: 30px !important;*/
  /*margin-bottom: 20px !important;*/
/*}*/
.md-form-category{
  margin-top: 0 !important;
}